// action

.action {
  @include rem(padding-top, 80px);
  @include rem(min-height, 500px);
  background-image: url('../img/action/action-bg-xs.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #e5e5e5;

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include rem(margin-bottom, 80px);
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;

    @include rem(padding-bottom, 80px);
  }
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;

    &:first-child {
      display: none;
    }
  }

  &__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__form {
    @include rem(
      (
        max-height: 300px,
        padding: 20px,
      )
    );
    background: rgba(255, 255, 255, 0.45);
    border: 1px solid #ffffff;
  }

  &__pic {
    @include rem(margin, 0 5px);
  }
}

@media (min-width: $tablet-width) {
  .action {
    background-image: url('../img/action/action-bg-md.png');

    &__item {
      width: 60%;

      &:first-child {
        display: flex;
      }

      &:last-child {
        width: 30%;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .action {
    background-image: url('../img/action/action-bg.png');
  }
}

// action end
