.advantages {
  position: relative;
  min-height: 500px;
  @include rem(padding, 100px 0);
  background-image: url("../img/advantages/advantages-bg-xs.jpg");
  background-attachment: fixed;

  @media (min-width: $tablet-width) {
    background-image: url("../img/advantages/advantages-bg-md.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/advantages/advantages-bg.jpg");
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.75) 0%,
      rgba(0, 0, 0, 0.6375) 100%
    );
    z-index: 0;
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include rem(margin-bottom, 80px);
  }

  &__list {
    @include listReset();

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__item {
    position: relative;
    display: flex;
    width: 100%;
    @include rem(margin-bottom, 40px);

    &::before {
      content: attr(data-item);
      position: absolute;
      bottom: 0;
      left: 0;

      font-weight: 900;
      font-size: 160px;
      line-height: 135px;
      /* identical to box height */

      color: rgba(255, 211, 179, 0.4);
    }
    @media (min-width: $mobile-width-xl) {
      width: 45%;
    }
    @media (min-width: $tablet-width) {
      width: 30%;
    }
  }
  &__inner {
    @include rem(padding, 40px 20px 70px 40px);
    background: rgba(255, 248, 245, 0.3);
  }
  &__text {
    font-weight: 600;
    @include ff(
      "font-size",
      (
        768px: 16px,
        1280px: 18px,
        1800px: 20px
      )
    );
    line-height: 24px;

    color: #ffffff;

    text-shadow: 0px 2px 15px rgba(0, 0, 0, 0.7);
  }
}
