.bl-review {
  position: relative;
  @include rem(padding-top, 50px);

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    @include rem(
      (
        min-height: 350px,
        padding: 50px 20px 20px 20px,
        box-shadow: 0 1px 10px rgba(0, 112, 203, 0.1),
        border-radius: 2px,
      )
    );
    background-color: #ffffff;
  }
  &__name {
    max-width: 130px;
    font-weight: bold;
    font-size: 20px;
    line-height: 122.56%;
    /* or 25px */

    text-align: center;

    color: #a62e06;
  }
  &__text {
    max-height: 200px;
    overflow: hidden;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */

    text-align: center;

    color: #000000;

    transition: 1s;

    &.active {
      animation: heightReview 2s forwards;
    }
  }
  &__pic .picture {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    overflow: hidden;
  }
  &__link {
    &.close {
      transform: rotate(180deg);
    }
  }
}

@media (min-width: $desktop-width) {
  .bl-review {
    max-width: 300px;
  }
}



@keyframes heightReview {
  0% {
    opacity: 0;
    max-height: 200px;
  }

  100% {
    opacity: 1;
    max-height: 100%;
  }
}
