.bl {
  min-height: 500px;
  @include rem(padding, 80px 0 150px);
  
  background: #E5E5E5;
  background-image: url("../img/bl/bl-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}
