.button {
  display: inline-block;
  vertical-align: middle;
  background-color: transparent;

  white-space: nowrap;
  user-select: none;
  cursor: pointer;
  border: none;

  outline: none;
  background: transparent;

  transition: 1s;

  background: #E21401;
  color: #ffffff;


  &--red {
    @include rem(padding, 10px 20px);
    color: #ffffff;
    background: #ff8080;

    &:focus,
    &:hover {
      background: darker(#ff8080, 1.5);
    }
  }
}
