.button {
  display: inline-block;
  vertical-align: middle;
  background-color: transparent;

  white-space: nowrap;
  user-select: none;
  cursor: pointer;
  border: none;

  outline: none;
  background: transparent;

  transition: 1s;

  background: #e21401;
  color: #ffffff;

  &--red {
    @include rem(padding, 10px 20px);
    color: #ffffff;
    background: #ff8080;

    &:focus,
    &:hover {
      background: darker(#ff8080, 1.5);
    }
  }

  &--gradient {
    background: linear-gradient(110.91deg, #891500 -17.3%, #e12702 96.13%);
    box-shadow: 0px 0px 15px rgba(255, 86, 30, 0.5);
  }
}
