// door-types

.door-types {
  position: relative;
  @include rem(padding-top, 80px);

  min-height: 500px;
  text-align: center;
  background-image: url("../img/door-types/door-types-bg-2-xs.png");
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
  background-color: #e5e5e5;

  &::before {
    content: "";
    position: absolute;
    display: block;
    border-top: 75px solid transparent;
    border-left: calc(100vw / 2) solid #e5e5e5;
    top: -75px;
    height: 50px;
    left: 0;
  }

  &::after {
    content: "";
    position: absolute;
    display: block;
    border-top: 75px solid transparent;
    border-right: calc(100vw / 2) solid #e5e5e5;
    top: -75px;
    height: 50px;
    right: 0;
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    @include rem(margin-bottom, 80px);
  }

  &__inner {
    @include rem(padding-bottom, 80px);
  }

  &__list {
    @include listReset();

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__item {
    order: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: flex-end;
    margin-bottom: 20px;

    width: 45%;
    transition: 1s;

    &--logo {
      order: 0;
      width: 100%;

      & .door-types__pic {
        max-width: 60%;
        height: auto;
      }
    }
  }

  &__pic {
    height: 100%;
    @include rem(margin-bottom, 20px);

    @media (min-width: $tablet-width) {
      max-width: 80%;
      height: auto;
    }
  }

  &__name {
    @include rem(min-height, 45px);
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    color: #000000;

    @media (min-width: $tablet-width) {
      @include rem(min-height, 1px);
    }
  }
}

@media (min-width: $tablet-width) {
  .door-types {
    background-image: url("../img/door-types/door-types-bg-2-md.png");
  }
  .door-types__item {
    order: 0;
    width: 25%;
    @include rem(min-height, 280px);
    &--logo {
      width: 50%;
    }
  }
}

@media (min-width: $desktop-width) {
  .door-types {
    background-image: url("../img/door-types/door-types-bg-2.png");
    background-position-y: 0;
  }
}

// door-types end
