.door-types {
  position: relative;
  @include rem(padding-top, 80px);

  min-height: 500px;
  background-image: url("../img/door-types/door-types-bg-2-xs.png");
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
  background-color: #e5e5e5;

  @media (min-width: $tablet-width) {
    background-image: url("../img/door-types/door-types-bg-2-md.png");
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/door-types/door-types-bg-2.png");
    background-position-y: 0;
  }

  &::before {
    content: "";
    position: absolute;
    display: block;
    border-top: 75px solid transparent;
    border-left: calc(100vw / 2) solid #e5e5e5;
    top: -75px;
    height: 50px;
    left: 0;
  }

  &::after {
    content: "";
    position: absolute;
    display: block;
    border-top: 75px solid transparent;
    border-right: calc(100vw / 2) solid #e5e5e5;
    top: -75px;
    height: 50px;
    right: 0;
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    @include rem(margin-bottom, 80px);

    @media (min-width: $tablet-width) {

    }
  }

  &__inner {
    @include rem(padding-bottom, 80px);
  }

  &__list {
    @include listReset();

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  &__item {
    order: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

    min-height: 280px;
    justify-content: space-between;
    margin-bottom: 20px;

    width: 45%;
    transition: 1s;

    @media (min-width: $tablet-width) {
      order: 0;
      width: 25%;
    }

    &--logo {
      order: 0;
      width: 100%;
      @media (min-width: $tablet-width) {
        width: 50%;
      }
    }
  }

  &__pic {
    @include rem(margin-bottom, 20px);
  }

  &__name {
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    color: #000000;
  }
}
