.page-header {
  // display: none;
  // position: relative;
  z-index: 2;
  top: 0;
  left: 50%;
  width: 100%;
  min-height: 60px;

  flex-wrap: wrap;
  justify-content: space-between;

  @include rem(
    (
      margin-bottom: 30px,
      padding-top: 10px,
      padding-bottom: 20px
    )
  );

  transform: translate(-50%, 0);


  &--hidden {
    transform: translate3d(0, -90px, 0);
  }

  &__contacts {
    display: none;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    font-weight: 600;
    font-size: 16px;
    line-height: 19px;

    color: #ffffff;

    @media (min-width: $tablet-width) {
      display: flex;
    }

    &.hidden {
      display: none;
    }
  }

  &__contacts-left {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  &__contacts-right {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  &__address {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  &__link {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    color: #ffffff;
    text-decoration: none;

    &:first-child {
      margin-right: 10px;
    }
  }

  &__icon {
    margin-right: 5px;
    fill: #ffffff;
  }
}
