.regulations {
  @include rem(padding, 100px 0);
  background-image: url('../img/regulations/regulations-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &__title {
    text-align: center;
    @include rem(margin-bottom, 115px);
  }
  &__list-title {
    font-weight: 800;
    @include ff(
      'font-size',
      (
        768px: 25px,
        1280px: 30px,
        1800px: 35px,
      )
    );
    line-height: 120%;
    /* or 60px */

    text-transform: uppercase;
    color: #ffffff;
  }
  &__list-count {
    @include ff(
      'font-size',
      (
        768px: 35px,
        1280px: 40px,
        1800px: 50px,
      )
    );
    color: #ff3d00;
  }

  &__list {
    @include listReset();

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__item {
    position: relative;
    display: flex;
    width: 100%;
    @include rem(margin-bottom, 40px);

    &::before {
      content: attr(data-item);
      position: absolute;
      top: 0;
      left: 0;

      font-weight: 900;
      font-size: 160px;
      line-height: 135px;
      /* identical to box height */

      color: rgba(255, 211, 179, 0.4);
    }
    @media (min-width: $mobile-width-xl) {
      width: 45%;
    }
    @media (min-width: $tablet-width) {
      width: 30%;
    }
  }
  &__inner {
    @include rem(padding, 40px 20px 70px 40px);
    background: rgba(0, 0, 0, 0.55);
  }
  &__text {
    font-weight: 600;
    @include ff(
      'font-size',
      (
        768px: 16px,
        1280px: 18px,
        1800px: 20px,
      )
    );
    line-height: 24px;

    color: #ffffff;

    text-shadow: 0px 2px 15px rgba(0, 0, 0, 0.7);
  }
}
