.reviews {
  max-width: 960px;
  margin: 0 auto;
  & .title {
    text-align: center;
  }
  &__inner {
    @include rem(margin, 80px 0);
    & .slider-base {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  & .swiper-pagination {
    display: block;
    left: 50%;
    transform: translateX(-50%);
  }

  & .swiper-button-prev,
  & .swiper-button-next {
    display: none;
    background-image: none;
  }

  & .swiper-button-prev {
    left: 60px;
  }
  & .swiper-button-next {
    right: 60px;
  }

  & .swiper-pagination-bullet {
    margin: 5px;
  }
  & .swiper-button__icon {
    fill: #a62e06;
  }

  & .swiper-button-next .swiper-button__icon {
    transform: rotate(180deg);
  }
  & .swiper-pagination-bullet-active {
    background: #a06060;
  }
}

@media (min-width: $tablet-width) {
  .reviews {
    & .swiper-pagination {
      display: none;
    }

    & .swiper-button-prev,
    & .swiper-button-next {
      display: block;
      top: 35%;
    }
  }
}
