.title {
  margin: 0 0 20px 0;
  font-weight: 500;
  line-height: 100%;
  @include ff(
    "font-size",
    (
      768px: 30px,
      1280px: 35px,
      1800px: 40px
    )
  );
  color: #000000;

  &--white {
    color: #ffffff;
  }
}
