.warning {
  font-weight: bold;
  @include ff(
    'font-size',
    (
      768px: 16px,
      1280px: 25px,
      1800px: 30px,
    )
  );
  line-height: 120%;
  text-align: center;
  text-transform: uppercase;

  color: #cf0303;

  &--sm {
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
  }
}

@media (min-width: $tablet-width) {
  .warning {
    text-align-last: left;
  }
}
