@font-face {
  font-family: $Exo;
  font-display: auto;
  src: url("../fonts/Exo2.0-Regular.woff2") format("woff2"),
    url("../fonts/Exo2.0-Regular.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  outline: none;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  position: relative;
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: $font-base;

  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: $text-color;
}

img {
  max-width: 100%;
  height: auto;
}

// footer к низу

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 1 0 auto;
  overflow: hidden;

  @media (min-width: 600px) {
    margin-bottom: 100px;
  }

  @media (min-width: 768px) {
    margin-bottom: 0;
  }
}

.page-footer {
  flex: 0 0 auto;
}

.hidden {
  display: none;
}

.swiper-object {
  position: relative;
  padding: 0 40px;

  & .swiper-pagination {
    display: block;
    left: 50%;
    transform: translateX(-50%);
    @media (min-width: $tablet-width) {
      display: none;
    }
  }
  & .swiper-button-prev,
  & .swiper-button-next {
    display: none;
    background-image: none;
    @media (min-width: $tablet-width) {
      display: block;
    }
  }

  & .swiper-button-prev svg {
    fill: #a06060;
    transform: rotate(90deg);
  }
  & .swiper-button-next svg {
    fill: #a06060;
    transform: rotate(-90deg);
  }

  & .swiper-pagination-bullet {
    margin: 5px;
  }

  & .swiper-pagination-bullet-active {
    background: #a06060;
  }
}


